<%- include('partials/header') %>

<form class="form" method="POST" , action="/login">
  <label for="first_name">PRENOM

      <input type="text" name="first_name" id="first_name" />
    </label>
  <label for="last_name">NOM
      
      <input type="text" name="last_name" id="last_name" />
    </label>
  <input type="submit" value="SE CONNECTER" />
</form>

<%- include('partials/footer') %>
